h1 {
  text-align: center;
}

.important { 
  color: rgb(18, 18, 194);
  width: 50%;
  font-style: italic;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


#img {
  height: 40;
  width: 50;
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: center;
  border: solid;
  border-color: black;
}